In [15]:
#EXERCICE 2

def factoriel(x):
    f=1
    mylist=[]
    for i in range (1,x+1):
        f=f*i
        mylist.append(f)
    return mylist
num = int(input("Enter a Number: "))
f = factoriel(num)
if num < 0:
    print("Factorial cannot be found for negative numbers")
elif num == 0:
    print("Factorial of 0 is 1")
else:
    print("Factorial of", num, "is: ",f)
import pandas as pd
new_data = pd.DataFrame(f,columns=["factoriel"])
new_data.rename(columns={0: 'factoriel'})
new_data

Enter a Number: 8
Factorial of 8 is:  [1, 2, 6, 24, 120, 720, 5040, 40320]

   factoriel
0          1
1          2
2          6
3         24
4        120
5        720
6       5040
7      40320